name: ci

run-name: ci

on:
  push:
  pull_request:

permissions:
  contents: write
  packages: write

jobs:

  static-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: staticcheck
        run: |
          export PATH=$PATH:/home/runner/go/bin
          make deps lint critic sec

  builds:
    needs: [static-check]
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Build
        run: make build

  tests:
    needs: [builds]
    strategy:
      matrix:
        name: [unit]

    runs-on: ubuntu-latest
    name: test (${{ matrix.name }})
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Run ${{ matrix.name }} tests
        run: make test

  integration:
    needs: [builds, tests]
    timeout-minutes: 20
    runs-on: ubuntu-latest
    strategy:
      matrix:
        name: [integration]

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org/

      - name: Install Newman
        run: |
          npm install --location=global newman

      - name: Build
        run: make build

      - name: Run
        run: go run main.go -env-file .env &

      - name: Wait for REST API
        run: sleep 6s
        shell: bash

      - name: Run Postman/Newman end-to-end tests
        run: make e2e
