name: ci

run-name: ci

on:
  push:
  pull_request:

permissions:
  contents: write
  packages: write

jobs:

#  staticcheck:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
#        with:
#          fetch-depth: 0
#
#      - name: golangci-lint
#        uses: reviewdog/action-golangci-lint@f9bba13753278f6a73b27a56a3ffb1bfda90ed71 # v2.8.0

  builds:
    timeout-minutes: 20
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Build
        run: make build

  tests:
    strategy:
      matrix:
        name: [unit]

    runs-on: ubuntu-latest
    name: test (${{ matrix.name }})
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Run ${{ matrix.name }} tests
        run: make test

  integration:
    needs: [builds, tests]
    timeout-minutes: 20
    runs-on: ubuntu-latest
    strategy:
      matrix:
        name: [integration]

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org/

      - name: Install Newman
        run: |
          npm install --location=global newman

      - name: Build
        run: make build

      - name: Run
        run: go run main.go -env-file .env &

      - name: Wait for REST API
        run: sleep 6s
        shell: bash

      - name: Run Postman/Newman end-to-end tests
        run: make e2e
