name: threeport-rest-api Release

on:
  push:
    tags:
      - '*'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v4.1.4
      with:
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@v5.0.1
      with:
        go-version: '1.22'

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GH_ACCESS_TOKEN }}

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v5.0.0
      with:
        version: latest
        args: release --clean -f ./.goreleaser.yml
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
